
.hero-section.contact-page {
    display: flex;
    background-image: url('../img/about-gallery/laptop.webp');
    background-attachment: local;
    height: 40vh;
}

.hero-section.contact-page h1 {
    font-size: 30px
}

.contact-main-section .container {
    text-align: left;
}

.contact-main-section .container h2 {
    font-size: 30px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.contact-main-section .container p {
    font-size: 14px;
    line-height: 1.7; 
    margin-top: 10px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px
}

.contact-main-section .whatsapp-button {
    margin-top: 25px
}

.contact-main-section .whatsapp-button a {
    display: inline-flex;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    font-weight: 500;
}

.contact-main-section .whatsapp-button svg {
    width: 20px;
    height: 20px;
}

.contact-main-section .other-contacts-section span {
    font-size: 14px;
    font-weight: 500;
}