
.container-grid {
    display: flex;
}

/* sidebar of website */

#sideBarGuide {
    border-top: 1px solid var(--border-color-dark)
}

.side-guide-section-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    list-style: none;
    margin-left: 0;
    margin-bottom: 40px;
}

.side-guide-section-list li {
    aspect-ratio: 5/4;
    border-radius: 6px;
}

.side-guide-section-list .image-section {
    margin-right: 20px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.side-guide-section-list img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#sideBarGuide .heading {
    font-size: 18px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.side-guide-section-list .sub-heading {
    font-size: 12.75px;
    text-align: center;
}

#guideContentName {
    margin-top: 5px
}

.switch-language-section {
    margin-top: 20px;
    display: flex;
    place-items: center;
    gap: 10px
}

.sub-heading.switch-language-title {
    font-weight: 500;
    -webkit-font-smoothing: auto;
}



.view-more-button {
    width: 100%;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
    padding: 8px 0;
}

/* guide.html */

/* guide.html related items section */

.related-guide-card {
    border: 1px solid var(--border-color-dark);
}

.empty-guides-section {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    width: 100%;
}

.empty-guides-section .link-text {
    display: inline-flex;
    place-items: center;
    gap: 5px;
    -webkit-font-smoothing: auto;
}

.empty-guides-section span {
    margin-bottom: 5px
}

.empty-guides-section svg {
    width: 14px;
    height: 14px;
}

.empty-guides-section svg path {
    stroke: var(--primary-color-dark);
    stroke-width: 2px;
}

/* guides.html */

#guidesContainer {
    width: 100%;
}

#productGuidesContainer .privacy-policy-main-section {
    width: 70%;
}


/* page tracker guide.html */

.page-tracker-container {
    flex: 1;
    max-width: 20%;
    margin: 40px 20px;
    align-self: stretch;
    /*display: flex;          
    flex-direction: column;*/
}
.page-tracker {
    top: 120px;
    position: sticky;
    /*margin-top: auto*/
}

.page-tracker ul {
    list-style: none;
    display: grid;
    gap: 10px
}

.page-tracker li {
    font-size: 14px;
    font-weight: 500;
}

.page-tracker p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: .5em;
    text-decoration: underline;
}

.page-tracker li a {
    font-size: 14px;
    text-decoration: none;
    color: black
}



.mobile-tracker-opener {
    position: relative;
    flex: 1;
    flex-direction: column;
    place-items:end;
    display: none
}

#openTrackerBtn {
    position: fixed;
    top: 50%;
    right: 0;
    background-color: var(--primary-color-dark);
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    rotate: 90deg;
    transform: translate(10px, -40px);
}



#guideContentContainer .dynamic-data {
    margin-bottom: 20vh;
}

#productGuidesContainer .privacy-policy-main-section .container {
    width: 100%;
    margin: 0;
    padding-left: 2em;
}


/*guides.html*/

#guidesContainer .dynamic-data {
    display: none;
}

#guidesContainer .dynamic-data.active {
    display: inline;
}

.hero-section.guide-page {
    background-image: url('../img/tech-guide_hero.png');
    height: 50vh;
    background-position: 80%;
}

#guidesContainer .container {
    margin-left: 0;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 30px;
}

.guide-card {
    border-bottom: 2px solid var(--border-color-dark);
    padding-top: 2em;
    padding-bottom: .5em;
}

.guide-card:first-child {
    padding-top: 0;
}

.guide-card a {
    text-decoration: none;
    color: black;
}   
.guide-card .top-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.guide-card .top-section span {
    font-size: 14px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.guide-card h3.heading {
    font-size: 30px;
    margin-bottom: 10px;
}





ul#guideCategoryList {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#guideCategoryList .guide-category {
    border: 0;
    border-bottom: 3px solid transparent;
    background: transparent;
    padding: 8px 12px;
    font-weight: 500;
    -webkit-font-smoothing: auto;
    color: black;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#guideCategoryList .guide-category.active,
#guideCategoryList .guide-category:hover {
    border-color: var(--primary-color-dark);
}




@media screen and (max-width: 1000px) {
    .mobile-tracker-opener {
        display: flex
    }

    .page-tracker {
        display: none;
    }

    #productGuidesContainer .privacy-policy-main-section {
        width: 100%;
    }

    #productGuidesContainer .privacy-policy-main-section .container {
        width: 88%;
        margin: 0 auto;
        padding-left: 0;
    }
}