
.container-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0;
}

/* sidebar of website */

#sideBarGuide {
    border-left: 1px solid var(--border-color-dark)
}

.side-guide-section-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    list-style: none;
    margin-left: 0;
    margin-bottom: 40px;
}

.side-guide-section-list li {
    aspect-ratio: 5/4;
    border-radius: 6px;
}

.side-guide-section-list .image-section {
    margin-right: 20px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.side-guide-section-list img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#sideBarGuide .heading {
    font-size: 18px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.side-guide-section-list .sub-heading {
    font-size: 12.75px;
    text-align: center;
}

#guideContentName {
    margin-top: 5px
}

.switch-language-section {
    margin-top: 20px;
    display: flex;
    place-items: center;
    gap: 10px
}

.sub-heading.switch-language-title {
    font-weight: 500;
    -webkit-font-smoothing: auto;
}



.view-more-button {
    width: 100%;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
    padding: 8px 0;
}

@media (max-width: 768px) {
    .container-grid {
        grid-template-columns: 1fr;
    }

    #sideBarGuide {
        border-top: 1px solid var(--border-color-dark)
    }
}